<table class="example-full-width" cellspacing="0">
    <tr>
        <td colspan="3">
            <h3>Search filters (Search component)</h3>
            <hr>
        </td>

    </tr>
    <tr>
        <td>
            <mat-form-field class="example-full-width">
                <mat-label>Instance number</mat-label>
                <input matInput type="number" min="10000" max="999999" placeholder="number 5-6 digits"
                    [(ngModel)]="instanceNumber" ng-init="instanceNumber=null">
                <button *ngIf="instanceNumber" matSuffix mat-icon-button aria-label="Clear" (click)="instanceNumber=0">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field class="example-full-width">
                <mat-label>Process name</mat-label>
                <mat-select formControlName="select" [(value)]="processName">
                    <mat-option *ngFor="let proc of processesList" [value]="proc">
                        {{proc}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field class="example-full-width">
                <mat-label>Created by</mat-label>
                <input matInput type="text" placeholder="firstName.lastName" [(ngModel)]="createdBy">
                <button *ngIf="createdBy" matSuffix mat-icon-button aria-label="Clear" (click)="createdBy=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field class="example-full-width">
                <mat-label>Creation date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
                    <input matEndDate placeholder="End date" [(ngModel)]="endDate">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field class="example-full-width">
                <mat-label>Content search</mat-label>
                <input matInput type="text" placeholder="search terms space separated" [(ngModel)]="contextSearch">
                <button *ngIf="contextSearch" matSuffix mat-icon-button aria-label="Clear" (click)="contextSearch=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </td>
        <td align="right">
            <button (click)="searchButton()" mat-raised-button color="primary">Search</button>
            <button (click)="resetButton()" mat-raised-button color="accent">Reset values</button>
        </td>
    </tr>
</table>